.chat-page{
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d7dbd6;
    z-index: 100;
    position: relative;
}

.chat-page::before{
    width: 100vw;
    height: 222px;
    background-color: #4ec0a5;
    /* background-color: purple; */
    position: absolute;
    top: 0;
    z-index: -1;
    content: "";
}

.chat-page-container{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    z-index: 100;
    max-width: 1366px;
    display: flex;
}