.user-profile{
    /* height: 100%;
    width: 30%; */
    display: flex;
    align-items: center;
    padding: 10px;  
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
.user-profile:hover{
    background-color: lightgray;
}


.user-image{
    width: 45px;
}

.user-image > img{
    width: 100%;
    border-radius: 100%;
}

.user-info{
    flex: 1;
    text-align: left;
    margin-left: 10px;
}

.user-name{
    text-transform: capitalize;
    font-size: 15px;
}
   

